---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';


import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

import { Icon } from 'astro-icon';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);


const lastText = "ใหม่";
const headLatest = "Lastest";
const introText = "Blog ที่ให้ความรู้ การแก้ปัญหา ไม่ว่าจะทางด้านไอที การใช้งาน หรือวิธีการต่าง ๆ";

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header />

		<div class="container mx-auto px-12 my-16">

			<section class="mt-16 mb-8 grid sm:grid-cols-1 md:grid-cols-2 gap-x-3">
				<div class="">
					<h1 class="text-3xl 
				text-5xl p-4 text-left
				font-bold from-indigo-500 via-red-500 to-indigo-500 
				bg-gradient-to-r 
				bg-clip-text text-transparent">VeryGoodDay5599</h1>
				
					<p class="px-4 py-6">
					{introText}
					</p>
				</div>
				
				<div class="bg-white">
					{
						posts.slice(0,1).map((post) => (
							<div class="rounded overflow-hidden shadow-lg">
								
								<a href={`/blog/${post.slug}/`}>
									<div class="relative">
										<img width={720} height={360} src={post.data.heroImage} class="w-full" />
									
										<div class="hover:bg-transparent transition duration-300 
										absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>

										<a href={`/blog/${post.slug}/`}>
											<div class="absolute bottom-0 left-0 py-4 px-4 w-full
											bg-opacity-5 backdrop-blur-xl bg-white/30">
											 <h2 class="font-bold text-xl">{post.data.title}</h2>
											
											</div>
										</a>

										<div class="text-sm absolute top-0 right-0 
										bg-gradient-to-r from-red-600 via-red-500 to-red-500 first-letter:px-2
										 text-white rounded-full h-16 w-16 flex flex-col items-center justify-center mt-3 mr-3">
											<span class="font-bold">{lastText}</span>
											
										</div>
									</div>
								</a>

							
						))
					}
				</div>
			</section>
		
			<div>
				<h2 class="text-3xl 
				text-5xl p-4 text-left
				font-bold from-blue-500 via-red-500 to-blue-500 
				bg-gradient-to-r 
				bg-clip-text text-transparent">{headLatest}</h2>
			</div>

			<div class="max-w-screen-xl mx-auto">
				<div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-8">
					{
						posts.slice(1,10).map((post) => (
							<div class="rounded overflow-hidden shadow-lg">
								
								<a href={`/blog/${post.slug}/`}>
									<div class="relative">
										<img width={720} height={360} src={post.data.heroImage} class="w-full" />
									
										<div class="hover:bg-transparent transition duration-300 
										absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>

										
										<div class="absolute top-0 right-0 rounded-bl backdrop-blur-sm bg-white/60 
										backdrop-opacity-5 px-2 py-1 text-s text-gray-800">
											<div class="flex flex-row items-center">
												<span  class="py-1 text-sm font-regula mr-1 flex flex-row items-center">
													<Icon name="ic:baseline-access-time" class="h-5 w-5 flex-no-shrink fill-current mr-1" />
													<span class="ml-1"><FormattedDate date={post.data.pubDate} />
														</span>
												</span>
												
											</div>
										</div>
										
									</div>
								</a>
								
								<div class="px-6 py-4">
									<a href={`/blog/${post.slug}/`} class="font-semibold text-lg inline-block">
										<h2>{post.data.title}</h2>
										</a>
									<p class="text-gray-700 text-sm pt-2">
										{post.data.description}
									</p>
								</div>
								
								
								</div>


							
						))
					}
				</div>
			</div>
			
		</div><!-- container mx-auto -->
		<Footer />
	</body>
</html>

