---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

// Import the <Image /> component
import { getImage } from "astro:assets"
// Import a reference to the image itself
import myImage from "../assets/blog-placeholder-2.jpg"
//import headerBlog from "../asset/blog-placeholder-2.jpg";
const optimizedBackgroundImage = await getImage({ src: myImage })

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en" class="sm:scroll-smooth">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="">
		<Header />
			
		<div class="app min-h-screen font-sans overflow-hidden mt-0 top-0">

			<div 
			style={`height:280px; background-image: url('${optimizedBackgroundImage.src}')`}
			class="h-36 flex items-center justify-center bg-cover bg-no-repeat"
			></div>

			<div class="wrapper border-b-2 -mt-32 bg-white overflow-hidden mx-auto max-w-5xl rounded shadow-lg columns-7xl">
				<main>
					<article>	
						<div class="prose">
							<div class="title">
								<div class="date">
									<FormattedDate date={pubDate} />
									{
										updatedDate && (
											<div class="last-updated-on">
												Last updated on <FormattedDate date={updatedDate} />
											</div>
										)
									}
								</div>
								<h1 class="">{title}</h1>
								<hr />
							</div>
							<slot />
						</div>
					</article>
				</main>
			</div>
		</div>

		<Footer />
	</body>
</html>
