---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

import { Icon } from 'astro-icon';

// Import the <Image /> component
import { getImage } from "astro:assets"
// Import a reference to the image itself
import myImage from "../assets/blog-placeholder-2.jpg"
//import headerBlog from "../asset/blog-placeholder-2.jpg";
const optimizedBackgroundImage = await getImage({ src: myImage })

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

const userWritter = 'Supaluck S.';
---

<html lang="en" class="sm:scroll-smooth">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark)); 
			}
			
			.prose p {
				margin-top:5em;
				color: rgb(var(--gray));
			}

			.prose h3 {
				margin-top:5em;
				color: rgb(var(--gray)); 
			}


			.last-updated-on {
				font-style: italic;
			}

			
		</style>
	</head>


	<body class="">
		<Header />
			
		<div class="app min-h-screen font-sans overflow-hidden mb-16">

			<div 
			style={`height:300px; background-image: url('${optimizedBackgroundImage.src}')`}
			class="h-32 flex items-center justify-center bg-cover bg-no-repeat"
			></div>

			<div class="wrapper border-b-2 -mt-48
			 bg-white overflow-hidden mx-auto max-w-5xl 
			 rounded shadow-2xl columns-7xl">
				<main>
					<article>	
						<div class="prose">
							<div class="title mb-16 pb-8 border-b-2 border-blue-500">

								<h1 class="mb-5
								text-5xl
								font-bold from-blue-800 via-blue-600 to-red-800 
								bg-gradient-to-r 
								bg-clip-text text-transparent 
								leading-snug">{title}</h1>

								
								<small class="date flex">
									<span class="flex mr-4">
										<Icon name="jam:write" class="h-5 w-5 flex-no-shrink fill-current pt-1 mr-1" />
										<FormattedDate date={pubDate} />
										{
											updatedDate && (
												<span class="last-updated-on text-sm leading-3">
													Last updated on <FormattedDate date={updatedDate} />
												</span>
											)
										}
									</span>
									<span class="flex">
										<Icon name="carbon:user-admin" class="h-5 w-5 flex-no-shrink fill-current pt-1 mr-1" />
										<span>{userWritter}</span>
									</span>
								</small>
								
							</div>
							<slot />
						</div>
					</article>
				</main>
			</div>
		</div>

		<Footer />
	</body>
</html>